.bg1 {
	background-color: #60725D;
}
.bg2 {
	background-color: #98A06F;
}
.bg3 {
	background-color: #A6BC51;
}
.bg4 {
	background-color: #C9D21A;
}
.bg5 {
	background-color: #B6A36A;
}
.bg6 {
	background-color: #9C6840;
}
.bg7 {
	background-color: #92491E;
}
.bg8 {
	background-color: #4F4021;
}
.bg9 {
	background-color: #283F06;
}
.bg10 {
	background-color: #2C6531;
}
.content_main {
	background-color:#FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding:10px;
}
h1,h2,h3 {
	background-color:#FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
    font-weight: normal;
    display:inline; 
}
.content_main_bold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #34282C;
	font-weight: bold;
}
.tekst7o {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}
.tekst7o:hover {
	color: #92491E;
}
.tekst8o {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
}
.tekst8o:hover {
	color: #4F4021;
}
.tekst8o_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration:none;
}
.tekst8o_bold:hover {
	color: #4F4021;
}
.content_img {
	filter: DropShadow(Color=#000000, OffX=10, OffY=10);
}
.scrollable_div {
    border: 0;
    width:550;
    height:400;
    overflow:auto;
    padding-right:5;
}
a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    padding:10px;
    text-decoration:underline;
    color: Black;
    padding: 0;
}
