.menu1 {
	cursor:pointer;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #60725D;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu1o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #60725D;
	color: #FFFFFF;
}
.menu2 {
	cursor:pointer;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #98A06F;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu2o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #98A06F;
	color: #FFFFFF;
}
.menu3 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #A6BC51;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu3o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #A6BC51;
	color: #FFFFFF;
}
.menu4 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #C9D21A;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu4o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #C9D21A;
	color: #FFFFFF;
}
.menu5 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #B6A36A;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu5o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #B6A36A;
	color: #FFFFFF;
}
.menu6 {
	cursor:pointer;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #9C6840;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu6o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #9C6840;
	color: #FFFFFF;
}
.menu7 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #92491E;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu7o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #92491E;
	color: #FFFFFF;
}
.menu8 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #4F4021;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu8o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #4F4021;
	color: #FFFFFF;
}
.menu9 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #283F06;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu9o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #283F06;
	color: #FFFFFF;
}
.menu10 {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #2C6531;
	color: #FFFFFF;
	filter: alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6; 
}
.menu10o {
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background-color: #2C6531;
	color: #FFFFFF;
}