.main {
	background-color: Black;
}

BODY, TD, TABLE {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11pt;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
    color: #918F8F;
}

TABLE, TD, TR {
    vertical-align: top;
}

TD, TR {
    padding-left: 2px;
}

H1, H2, H3 {
	font-family: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
}

IMG {
    margin-top: 5px;
    margin-bottom: 10Px;
}

H1 {
	font-size: 14pt;
	color: #000000;
    text-decoration: underline;
}	

H2 {
	font-size: 12pt;
	color: #4E4E4E;
    text-decoration: underline;
}	

H3 {
	font-size: 12pt;
	color: #777676;
    font-style: italic;
}

A {
    font-family: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11pt;
	text-decoration: underline;
	color: #918F8F;
}

A:Hover {
    font-family: Arial, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11pt;
	text-decoration: underline;
	color: #00D647;
}
