.main {
	background-color: Black;
}

body {
	background: Gray
}


div.information {
	position: absolute; 
	top: 230px; 
	background-color: #FFFFFF;
	width: 70%;
	left:15%;
	height: 100%;
	overflow: scroll; 
}

div.page {
	position: absolute; 
	top: 15px; 
	bottom: 15px;
	left: 15%; 
	width: 70%; 
	background-color: #FFFFFF;
}

TD, TABLE, P, LI, DIV, A {
	font-family: Verdana;
	color: Black;
	background: #FFFFFF;
	font-size: 10pt;
}

TABLE, TD {
	line-height: 122%;
	text-align: left;
}

TD, TR, TABLE {
	margin-left: 0px;
}

P, LI {
        margin-left: 5px;
}

H1, H2, H3 {
        margin-left: 5px;
	margin-top: 20px;
	color:#004E11;
}

H1 {
	font-size: 11pt;
	font-weight: bold;
}	

H2 {
	font-size: 10pt;
	font-weight: bold;	
}	


A {
	font: Verdana;
	text-decoration: underline;
	font-weight: bold;
}

A:Hover {
	font: Verdana;
	text-decoration: underline;
	color:#00B527;
}

HR {
	color: blue;
	height: 1pt;
}
